h1 {
  text-align: center;
  font-size: 60px;
  font-style: bold;
  font-family: "Cantarell" sans-serif;
  font-weight: bolder;
  color: wheat;
}
body {
  font-family: "Cantarell" sans-serif;
  font-size: 30px;
  color: wheat;
  background-image: url("images/Newback.jpg");
  background-size: cover;
  font-style: initial;

}
h2{
  font-size: 30px;
}